.alert-error, .errorlist {
    color: crimson;
}

.alert-success {
    color: green;
}

.quote {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #333333;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #333333;
}

.quote span.text {
    display: block;
    margin-bottom: 5px;
    font-size: large;
    font-style: italic;
}

.quote small.author {
    font-weight: bold;
    color: #3677E8;
}

.quote .tags {
    margin-top: 10px;
}

.tag {
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: small;
    background-color: #7CA3E6;
}

.pager .next>a, .pager .next>span {
    float: right;
    margin-left: 450px;
}

.pager .previous>a, .pager .previous>span {
    float: left;
    margin-right: 450px;
}

.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px;
}

.pager {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.pager li {
    display: inline;
}

ul.pager {
    margin-bottom: 100px;
}

.disabled {
    color: #333333;
}

.author-details {
    width: 80%;
}

h3, .h3 {
    font-size: 28px;
}

.author-description {
    text-align: justify;
    margin-bottom: 20px;
}
